extends layout
block main
  pre
    h2 只是想实习一个Node工程师
    div
      拿以前写的小博客程序改了改写了个（假装是）编程猫的博客
      ul
        li
          h4 后端
        ol
          li Node.js + express（基本框架）
          li mongodb（用户博文&账号数据）
          li redis（cookies & session）
        li 
          h4 前端框架
        ol
          li bootstrap